# Node modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build output
build/
dist/
out/
*.local

# Logs
logs/
*.log
*.csv
*.dat

# OS files
.DS_Store
Thumbs.db

# Editor directories and files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Optional npm cache
.npm
.yarn/cache
.pnp.*
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz

# Testing
coverage/
*.lcov

# Misc
*.tgz
*.zip
